html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  background: linear-gradient(180deg, #d0d8df, #e6eff4);
  font-family: 'Oswald', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #00334e;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 8px;
}

h3 {
  text-transform: uppercase;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.table {
  width: 100%;
  min-height: 100vh;
  background-image: url('/assets/table.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  contain: layout;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 12px;
}

.title,
.tech-skills h3 {
  margin: 42px auto;
  text-align: center;
  width: 100%;
  max-width: 350px;

  background: white;
  background-image: url('/assets/white-wall.png');
  padding: 20px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  position: relative;
}

.tech-skills h3 {
  position: relative;
}

.title::after,
.tech-skills h3::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 20px;
  background: white;
  background-image: url('/assets/white-wall.png');
  border-bottom: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: rotate(-2deg);
  z-index: -1;
}

.knopka {
  position: absolute;
  display: block;
  background-image: url('/assets/knopka2.webp');
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 40px;
  top: 4px;
}

.left {
  left: 20px;
}

.right {
  right: 8px;
}

.photo {
  margin: 0 auto;
  width: 45vmin;
  height: auto;
  padding: 4px;
  background-image: url('/assets/descP.webp');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 4px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 24px;
}

img {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  border-radius: 4px;
  object-fit: cover;
}

.contact,
.about-me,
.addidtion-education,
.work-experience,
.education {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 32px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 4px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  line-height: 1.4;
  margin-bottom: 24px;
}

.work-experience,
.education {
  padding-top: 12px;
  margin-bottom: 12px;
}

.contact::before,
.about-me::before,
.addidtion-education::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/planshet.webp');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: -1;
}

.contact h3,
.about-me h3,
.work-experience h3,
.education h3,
.addidtion-education h3 {
  margin-bottom: 8px;
}

.photo:hover,
.photo:focus,
.photo:active,
.contact:hover,
.contact:focus,
.contact:active,
.about-me:hover,
.about-me:focus,
.about-me:active,
.languages:hover,
.languages:focus,
.languages:active,
.work-experience:hover,
.work-experience:focus,
.work-experience:active,
.education:hover,
.education:focus,
.education:active,
.addidtion-education:hover,
.addidtion-education:focus,
.addidtion-education:active {
  transform: scale(1.1);
}

.tech-skills-section {
  position: relative;
  width: 200px;
  height: auto;
  padding: 32px;
  padding-bottom: 12px;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  border-radius: 4px;
  overflow: hidden;
  line-height: 1.4;
  margin-bottom: 12px;
}

.tech-skills-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/books.webp');
  background-size: 200px 100%;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: -1;
}

.margin-left {
  margin-left: auto;
}

.margin-right {
  margin-right: auto;
}

.languages {
  position: relative;
  width: 200px;
  height: auto;
  padding: 32px;
  padding-top: 12px;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  border-radius: 4px;
  overflow: hidden;
  line-height: 1.4;
  margin-bottom: 12px;
  transition: transform 0.3s ease-in-out;
}

.languages::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/laprop.webp');
  background-size: 200px 100%;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: -1;
}

.work-experience::before,
.education::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/desc.webp');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: -1;
}

.work-experience-item:not(:last-child),
.education-item:not(:last-child) {
  margin-bottom: 12px;
}

@media (min-width: 601px) {
  .container {
    max-width: 960px;
    padding: 0 24px;
  }
  .column {
    display: flex;
    gap: 42px;
  }
  .sidebar {
    flex-basis: 30%;
  }
}
