:root {
  --padding-size-mobile: 12px;
  --padding-size-tablet: 24px;
  --padding-size-desktop: 48px;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  background: linear-gradient(180deg, #d0d8df, #e6eff4);
  font-family: 'Oswald', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #1a3b5d;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 32px;
  margin: 8px 0;
}

h3 {
  text-transform: uppercase;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.table {
  width: 100%;
  min-height: 100vh;
  background-image: url('/assets/table.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  contain: layout;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 var(--padding-size-mobile);
}

.title {
  text-align: center;
  width: 350px;
  margin-bottom: 24px;
}

.photo {
  width: 45vmin;
  height: auto;
  padding: 4px;
  background-image: url('/assets/descP.webp');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 4px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.photo:hover,
.photo:focus,
.photo:active {
  transform: scale(1.2);
}

img {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  border-radius: 4px;
  object-fit: cover;
}

@media (min-width: 601px) {
  .container {
    max-width: 540px;
    padding: 0 var(--padding-size-tablet);
  }
}

@media (min-width: 1025px) {
  .container {
    max-width: 960px;
    padding: 0 var(--padding-size-desktop);
  }
}
